NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_DB_PASSWORD=
NEXT_PUBLIC_TINYMCE_API_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_GAMES_TABLE=prediction_games
SUPABASE_PICKS_TABLE=prediction_picks
SUPABASE_USERS_TABLE=users
ESPN_SITE_API_BASE_URL=https://site.api.espn.com/apis/site/v2/sports/football/nfl
ESPN_CORE_API_BASE_URL=https://sports.core.api.espn.com/v2/sports/football/leagues/nfl
NFL_SEASON_YEAR=2025
NFL_WEEK=1
GAMES_ALLOW_SEED_FALLBACK=true
