NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_DB_PASSWORD=
NEXT_PUBLIC_ADMIN_EMAILS=husseinsaab14@gmail.com,robcroley@gmail.com
ADMIN_EMAILS=husseinsaab14@gmail.com,robcroley@gmail.com
NEXT_PUBLIC_TINYMCE_API_KEY=
